body {
    background-image: url(../images/main-bg-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: greenyellow;


}

.container {
    background-color: white;
    width: 50rem;
    float: none;
    margin-top: 200px;
    padding: 2rem;
}


a {
    color: black;
}

.btn {
    background-color: greenyellow;
    }


@media only screen and (max-width: 767px) {
    body {
        background-image: url(../images/main-bg-sized.jpg);
    }
}